.testimonials{
	background: #198848;
	color: #fff;
	.container{
		max-width: 75.7rem;
		padding: 10rem 3rem;
	}
	.title{
		padding-bottom: 3rem;
	}
	.slider-photo{
		max-width: 168px;
		margin: auto;
		img{
			position: relative;
			z-index: 2;
			width: 168px;
			height: 168px;
			border-radius: 50%;
			margin: auto auto 4.5rem;
		}
		.slick-list{
			z-index: 9;
		}
		.slick-next,
		.slick-prev{
			width: 118px;
			height: 118px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.5);
			&:hover{
				background: rgba(255, 255, 255, 0.7);
			}
		}
		.slick-prev{
			left: -104px;
		}
		.slick-next{
			right: -104px;
		}
		.slick-next:before{
			content: url(../img/arrow-right-slider.png);
		}
		.slick-prev:before{
			content: url(../img/arrow-left-slider.png);
		}
	}
	.slider-text{
		text-align: center;
		p{
			font: 2.3rem/2.8rem $font3;
			padding-bottom: 1.3rem;
		}
		em{
			font: italic 1.6rem $font3;
		}
	}
}

@media screen and (max-width: 480px){
.testimonials .slider-photo{
	max-width: 15rem;
	img{
		width: 15rem;
		height: 15rem;
	}
	.slick-next,
	.slick-prev{
		top: 20%;
		transform: scale(0.6, 0.6);
		// width: 9rem;
		// height: 9rem;
	}
	.slick-next{
		right: -10rem;
	}
	.slick-prev{
		left: -10rem;
	}
} 
}